@model Tournament
@{
    ViewData["Title"] = "Home Page";
}

<h2>Tournament Configuration</h2>
<p></p>
<p>There are two options for configuring the tournament:</p>
<ol>
    <li style="padding-bottom:2.5%">
        Create your own tournament structure
        <ul>
            <li>
                Choosing this option allows you to configure each aspect of the tournament,
                including the number of levels, the blinds of each level, the level length, and the breaks.
            </li>
        </ul>
    </li>
    
    <li>
        Use the default structure
        <ul>
            <li>
                This option saves time by setting up most aspects of the tournament for you automatically.  You will still be able to set the
                length of the levels. This is a good choice for most single table home games.
            </li>
        </ul>
    </li>
</ol>
    
<ul style="list-style:none">
    <li style="font-weight:500">Default Structure:</li>
    <li>Level 1: 25/50</li>
    <li>Level 2: 50/100</li>
    <li>Level 3: 75/150</li>
    <li>Level 4: 100/200</li>
    <li>Level 5: 150/300</li>
    <li>Level 6: 200/400</li>
    <li>Level 7: 250/500</li>
    <li>Level 8: 300/600</li>
    <li>Level 9: 400/800</li>
    <li>Level 10: 500/1000</li>
    <li>Level 11: 600/1200</li>
    <li>Level 12: 700/1400</li>
    <li>Level 13: 800/1600</li>
    <li>Level 14: 1000/2000</li>
</ul>
<p>Click here to select the default, or begin configuring your own tournament below.</p>
<form asp-controller="Home" asp-action="Play" method="get">

    <div>
        <label asp-for="LevelMinutes">Enter the length of each level in minutes</label>
        <input asp-for="LevelMinutes" />
    </div>
    <div>
        <label asp-for="BreakLength">How long should each break be?</label>
        <input asp-for="BreakLength" />
    </div>
    <div>
        <input type="hidden" asp-for="BreakFrequency" value="2" />
    </div>
    <div>
        <input type="submit" value="Default" />
    </div>
</form>
<form asp-controller="Home" asp-action="BlindConfiguration" method="get">
    <div>
        <label asp-for="NumberOfLevels">Enter the number of levels</label>
        <input asp-for="NumberOfLevels" />
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
